<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejemplos.DAO.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=ANTONIO-WORK\SQLLOCAL;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sasa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>