<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="AdWorks" connectionString="Server=ANTONIO-WORK\SQLLOCAL;Database=AdventureWorks2014;User Id=sa;Password=sasa;" />
  </connectionStrings>
  <appSettings>
    <add key="RutaBase" value="c:\"/>
  </appSettings>
</configuration>