<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="AdWorks" connectionString="Server=ANTONIO-WORK\SQLLOCAL;Database=AdventureWorks2014;User Id=sa;Password=sasa;" />
    <add name="ConsoleApplication1.Properties.Settings.AdventureWorks2014ConnectionString"
      connectionString="Data Source=ANTONIO-WORK\SQLLOCAL;Initial Catalog=AdventureWorks2014;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaBase" value="c:\"/>
  </appSettings>
  <userSettings>
    <ConsoleApplication1.Properties.Settings>
      <setting name="Nada" serializeAs="String">
        <value> de nada</value>
      </setting>
    </ConsoleApplication1.Properties.Settings>
  </userSettings>
</configuration>